* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    width: 100%;
    height: 100vh;
}


.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}


.sfondo {
    width: 100%;
    height: 15vh;
    background-color: grey;
}

.appl {
    position: absolute;
    height: 92vh;
    width: 80vw;
    top: 4%;
    left: 10%;
    background-color: white;
    min-width: 800px;
    
}



#info-io, #contatto, #barra-bot {
    height: 55px;
    background-color: #eaeaea;
}


#ricevi-notifiche {
    background-color: lightblue;
    height: 70px;
}

#barra-lat {
    height: 50px;
}

.ricevi {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

#all-chat {
    height: calc(100% - 175px);
    overflow-y: scroll;
}


.box-chat {
    height: 60px;
    cursor: pointer;
    padding: .3rem 1rem;
}

.box-chat:hover {
    background-color: #b1b1b1 ;
}

.img-chat {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

i {
    color: gray;
}



.azzurro {
    color: lightblue;
}



#chat {
    background-image: url("../img/mine.jpg");
    height: calc(100% -110px);
    overflow-y: scroll;
}


    
.mex {
    min-width: 100px;
    max-width: 300px;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 15px;
}

.received {
    background-color: #ffffff;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 15px;
}

.text-mex {
    font-size: 12px;
}


.text-small {
    font-size: 10px;
}

.user-c {
    max-width: 230px;
}
